<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrackMyLinks</title>
    <link rel="stylesheet" href="styles/ng-tags-input.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/getResourceDetails.js"></script>
    <script src="scripts/controllers/addResourceDetails.js"></script>
    <script type="text/javascript" src="scripts/ng-tags-input.min.js"></script>
  </head>
  <body ng-app="ResourcesApp">


    <div ng-controller="getResourceDetails as getResources">
     <table>
      <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Link</th>
        <th>Description</th>
        <th>Tags</th>      
      </thead>
      <tbody>
        <tr ng-repeat="resource in resources">
          <td ng-bind="resource.rid"></td>
          <td ng-bind="resource.title"></td>
          <td ng-bind="resource.link"></td>
          <td ng-bind="resource.description"></td>
          <td>
            <span ng-repeat="tag in resource.tags">
              {{ tag.tag_name }}
              <span ng-hide="$last">, </span>
            </span>
          </td>        
        </tr>
      </tbody>
     </table>
    </div>

    <div ng-controller="addResourceDetails as addResources">
      <form novalidate>
        <label>Title</label>
        <input type="text" ng-model="resource.title" />
        <label>Link</label>
        <input type="text" ng-model="resource.link" />
        <label>Description</label>
        <input type="text" ng-model="resource.description" />
        <label>Tags</label>
        <tags-input ng-model="resource.tags" key-property="tag_name" display-property="tag_name"></tags-input>
        <input type="submit" ng-click="submit()" value="Add Resource">
      </form>
      {{ message }}
    </div>


  </body>
</html>