<!DOCTYPE html>

<html>
    <head>
        {% if title %}
            <title>{{ title }} | TrackMyLinks</title>
        {% else %}
            <title>TrackMyLinks</title>
        {% endif %}
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }} </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <hr>
        <p>Designed with love</p>
    </body>
</html>